jarvis_creator.json.save copy
{
  "name": "Jarvis Auto Creator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis-create",
        "responseMode": "lastNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const goal = $json.body.goal;\nreturn [{json:{goal}}];"
      },
      "id": "parse",
      "name": "Parse Goal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"model\":\"llama3-70b-8192\",\"messages\":[{\"role\":\"user\",\"content\":\"Create n8n workflow JSON for: {{$json.goal}}\"}]}"
      },
      "id": "ai",
      "name": "AI Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/api/v1/workflows",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={\"X-N8N-API-KEY\":\"YOUR_API_KEY\"}",
        "bodyParametersJson": "={\"name\":\"AI Workflow\",\"nodes\":[],\"connections\":{},\"settings\":{}}"
      },
      "id": "deploy",
      "name": "Deploy Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Goal", "type": "main", "index": 0 }]]
    },
    "Parse Goal": {
      "main": [[{ "node": "AI Generator", "type": "main", "index": 0 }]]
    },
    "AI Generator": {
      "main": [[{ "node": "Deploy Workflow", "type": "main", "index": 0 }]]
    }
  },
  "settings": {}
}
